<div class="eri-info footer-separator">
	<div class="footer-logo text-center">
		<%= image_tag 'logo.png', class:'img-responsive' %>
	</div>

	<div class="footer-info text-center">
		<p class="info-text"> Apt : B2 (2nd floor), House No. 06 (Ananda Dwep), Road No. 137, Gulshan 01, Dhaka 1212, Bangladesh. <br><strong> Phone: +880 123 456 789 | Fax: +880 123 456 789  <br> info@eribd.org | www.eribd.org </strong>
		  </p>
	</div>
</div>