<div class="eri-info footer-separator">
	<div class="footer-logo text-center">
		<%= image_tag 'logo.png', class:'img-responsive' %>
	</div>

	<div class="footer-info text-center">
		<p class="info-text"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has 1500s, when an unknown printer <br><strong>info.eri@gmail.com | galley of type and scrambled</strong>
		  </p>
	</div>
</div>