<div class="container-fluid">
 <div class="row">
  <div class="top-header col-md-12">
    <div class="row">
      <div class="col-md-6 text-center">
      <div class="eri-logo">
      <div class="logo">
         <%= image_tag 'logo.png', class:'img-responsive' %>
      </div>
       <div class="slogan">
         <span class=""> QUALITY EDUCATION </span>
       </div>
        </div> 
      </div>
      <div class="col-md-6 text-right text-center pt-4", style=" padding-top: 2.2rem!important;">
        <%= link_to 'Register/Login', '', class:'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
</div>


<div class="landing_bg_image">
  <%= render 'shared/menu_list' %>
  <%= render 'home/welcome_message' %>
  <%#= render 'home/module_section' %>
</div>