<div class="menu-list">
<nav class="navbar navbar-expand-sm sticky-top">
  <ul class="navbar-nav">

  <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle menu-item" href="#" id="navbardrop" data-toggle="dropdown">
        WHAT WE DO
      </a>
<!--       <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Link 1</a>
        <a class="dropdown-item" href="#">Link 2</a>
        <a class="dropdown-item" href="#">Link 3</a>
      </div> -->
    </li>

    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle menu-item" href="#" id="navbardrop" data-toggle="dropdown">
        WHO WE ARE
      </a>
<!--       <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Link 1</a>
        <a class="dropdown-item" href="#">Link 2</a>
        <a class="dropdown-item" href="#">Link 3</a>
      </div> -->
    </li>

    <li class="nav-item">
      <a class="nav-link menu-item" href="#">NEWS & MEDIA</a>
    </li>

    <li class="nav-item donate-btn">
      <a class="nav-linkx  menu-item btn btn-default btn-sm" href="#"> DONATE</a>
    </li>

    <li class="nav-item pull-right">
       <a class="nav-link menu-item mobile-in-menu" href="#"> 
       <i class="fa fa-phone-square"></i>
       +880 1711 234 567
       </a>
    </li>



  </ul>
</nav>
</div>