<div class="impact text-center">
	<h3> OUR IMPACT </h4>
</div>

<div class="impact-content container pt-5">

	<div class="col-md-12 content-part">
		<div class="row">

			<div class="impact-content-item col-md-4">
				<div class="content-photo">
					<%= image_tag 'demo-1.jpg' %>
				</div>
				<div class="impact-content-text text-justify">
				   <div class="title">
				   		<h6>
				   			<strong> Manufacturing An agile manufacturing work
				   			</strong>
			   			 </h4>
				   </div>
				   <div class="details">
				   		<p> t is a long established fact that a reader will be distracted by the readable conte </p>
				   </div>
				
				</div>
			</div>


			<div class="impact-content-item col-md-4">
			<div class="content-photo">
				<%= image_tag 'demo-2.png' %>
			</div>
			<div class="impact-content-text text-justify">
			   <div class="title">
			   		<h6>
			   			<strong> Manufacturing An agile manufacturing work
			   			</strong>
						 </h4>
			   </div>
			   <div class="details">
			   		<p> t is a long established fact that a reader will be distracted by the readable conte </p>
			   </div>

			</div>
			</div>


			<div class="impact-content-item col-md-4">
				<div class="content-photo">
					<%= image_tag 'demo-3.jpg' %>
				</div>
				<div class="impact-content-text text-justify">
				   <div class="title">
				   		<h6>
				   			<strong> Manufacturing An agile manufacturing work
				   			</strong>
			   			 </h4>
				   </div>
				   <div class="details">
				   		<p> t is a long established fact that a reader will be distracted by the readable conte. </p>
				   </div>
				
				</div>
			</div>

		</div>
	</div>

	<div class="col-md-12 view-more">
		<div class=" text-center">
			<%= link_to 'VIEW MORE', '', class:'btn btn-danger btn-lg', style:'border-radius:0px; background-color: #fd0000; border-color: #fd0000; width:17rem;' %>
		</div>
		<div class="text-center dialouge">
			<h2> We have achieved remarkable results and helped milions more children enroll in school for a quality education. </h4>
		</div>
	</div>
	
</div>