 <div class="welcome-msg">
 	<div class="welcome-note">
 		<h4 class="text-left"> HEARTIEST <strong> <br>WELCOME TO OUR <br>NON POLITICAL ORGANIZATION</strong></h4>
 	</div>
 	<div class="welcome-btn">
 		<%=  link_to 'VIEW MORE', '', class:'btn btn-sm btn-danger', style:'border-radius:0px; background-color: #fd0000; border-color: #fd0000;' %>
 	</div>
 </div>