// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.impact{
	background: #FE0000;
	padding: 10px;
	font-family: sans-serif;
}

.impact-content{
	.impact-content-item {

		width: 21.2rem;
		position: relative;

		.content-photo{
			img{
				width: 21.2rem;
				height: 10rem;
			}
		}

		.impact-content-text {
				left: 26px;
				width: 85%;
				margin: auto;
				background: #CACACA;
				padding-top: 15px;
				padding-left: 32px !important;
				padding-right: 15px;
				padding-bottom: 15px;
				position: absolute;
				top: 148px;
				padding: 10px;
				box-shadow: 5px 10px #E8E8E8;

			.title{

			}
			.details{

			}
		}
	}

	.view-more{
		padding-top: 11rem;

	}
}

.dialouge{
	width: 42%;
	margin: auto;
	padding: 10px;
	h2{
	    font-size: 20px;
		font-weight: bold;
	}
}

.welcome-msg{
    width: 63%;
    margin: auto;
    padding-top: 12rem;
    padding-bottom: 10rem;

	.welcome-note{
		color: #fff;
	}
}

.module-section{
    width: 63%;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 26px;

   	.module-item{
		height: 100px;
		width: 230px;
		margin: auto;
		
   		 img{
		    width: 65px;
		    height: 65px;
		    background: #F19700;
		    border-radius: 35px;
		    padding: 20px;
   		 }
   	}
}

.module-top-menu-list{
	    width: 63%;
    	margin: auto;
   		background: #FE0000;
   		position: absolute;
	    bottom: 0px;
	    right: 241px;
	    padding: 15px;
   		a{
   		 color:#fff;
   		 text-decoration :none;
   		 font-weight: bold;
   		}

		a:hover{
   		 color:#F19700;
   		 text-decoration :none;
   		}
   		img{
   			width: 45px;
   			height: 45px;
   		}
   		.border {
   		border: 1px solid #fff;
   		}
}